@import "../../vendor/filament/filament/resources/css/theme.css";

/* wsmallnews/support */
@import "../../vendor/wsmallnews/support/resources/css/index.css";

/* wsmallnews/preference */
@import "../../vendor/wsmallnews/preference/resources/css/index.css";

/* wsmallnews/comment */
@import "../../vendor/wsmallnews/comment/resources/css/index.css";

/* wsmallnews/cms */
@import "../../vendor/wsmallnews/cms/resources/css/index.css";

/* wsmallnews/filament-nestedset */
@import "../../vendor/wsmallnews/filament-nestedset/resources/css/index.css";

/* 自定义 infolist */
@import "./filament/sn-grid-table.css";
/* 自定义 filament 组件样式 */
@import "./filament/sn-filament.css";

@source "../../app/Livewire/**/*";
@source "../../app/Features/**/*";
@source "../../resources/views/**/*";

@theme {
    --color-primary-50: oklch(0.977 0.014 263);
    --color-primary-100: oklch(0.945 0.032 263);
    --color-primary-200: oklch(0.885 0.063 263);
    --color-primary-300: oklch(0.790 0.106 263);
    --color-primary-400: oklch(0.665 0.150 263);
    --color-primary-500: oklch(0.544 0.150 263);
    --color-primary-600: oklch(0.480 0.143 263);
    --color-primary-700: oklch(0.420 0.130 263);
    --color-primary-800: oklch(0.360 0.110 263);
    --color-primary-900: oklch(0.310 0.090 263);
    --color-primary-950: oklch(0.250 0.071 263);
}

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

html,
body {
    height: 100%;
}
