#nprogress .bar {
    height: 4px !important;
}

/** 包含 sn-district-select 的外围 section 设置成 visible 房子自定义的 区域选择器 样式被遮挡 **/
.fi-section {
    @apply has-[.sn-district-select]:overflow-visible;
}

/** 分类 repeater 区域样式设置 **/
.fi-fo-repeater.category-custom-field-group .fi-fo-repeater-item {
    @apply overflow-hidden;
}
.fi-fo-repeater.category-custom-field-group
    .fi-fo-repeater-item
    .fi-fo-repeater-item-header {
    @apply bg-gray-400 dark:bg-gray-700;
}
.fi-fo-repeater.category-custom-field-group
    .fi-fo-repeater-item
    .fi-fo-repeater-item-content {
    @apply bg-gray-200 dark:bg-gray-800;
}
/** 分类 repeater 下的 builder 区域样式设置 **/
.fi-fo-builder.category-custom-field .fi-fo-builder-item {
    @apply overflow-hidden;
}

.fi-fo-builder.category-custom-field
    .fi-fo-builder-item
    .fi-fo-builder-item-header {
    @apply bg-gray-400 dark:bg-gray-700;
}
.fi-fo-builder.category-custom-field
    .fi-fo-builder-item
    .fi-fo-builder-item-content {
    @apply bg-gray-300 dark:bg-gray-900;
}

/** 页面子导航侧边栏宽度设置 **/
.fi-page-sub-navigation-sidebar-ctn {
    @apply max-w-48;
}

/** --------------------------------页面紧凑处理开始------------------------------ **/

/* padding, margin, gap 等, 统一设置为 4 */

/* 主内容区域 */
.fi-main {
    @apply md:px-4 lg:px-4;
}

/** 页面主内容区域间距设置（和子导航之间的间距） **/
.fi-page-main {
    @apply gap-4;
}

/* form 和 btn 的间距 */
.fi-sc-form {
    @apply gap-4;
}

/* schema 中 flex 的间距 */
.fi-sc-flex {
    @apply gap-4;
}

/* schema 中 has-gap 的间距 */
.fi-sc-has-gap {
    @apply gap-4;
}

/* schema 中 section 的间距 */
.fi-section .fi-section-content-ctn .fi-section-content {
    @apply gap-4 p-4;
}
.fi-section .fi-section-header {
    @apply px-4 py-3;
}

/** schema 中 tabs tab 的内间距 */
.fi-sc-tabs-tab.fi-active {
    @apply p-4;
}

/** 表单 page 标题，按钮，表单 区域 间距 */
.fi-page-header-main-ctn {
    @apply gap-y-4 py-4;
}
.fi-ta-header {
    @apply ps-4 pe-4;
}
/** 表格工具栏左右间距 **/
.fi-ta-header-toolbar {
    @apply sm:px-4;
}
/** 表格不带复选框时，标题的左边距离 **/
.fi-ta-header-cell {
    @apply sm:first-of-type:ps-4;
}
/** 表格内容带复选框时候的左边距 **/
.fi-ta-cell {
    @apply sm:first-of-type:ps-4 sm:last-of-type:pe-4;
}
/** 表格内容不带复选框时候的左边距 **/
.fi-ta-cell .fi-ta-text {
    @apply sm:first-of-type:ps-0;
}
/** 表格分页器左右间距 **/
.fi-pagination {
    @apply sm:px-4;
}

/** modal 的间距 **/
.fi-modal-header {
    @apply px-4 pt-4;
}
.fi-modal-content {
    @apply px-4 py-4;
}
.fi-modal-footer {
    @apply px-4 pb-4;
}
/** --------------------------------页面紧凑处理结束------------------------------ **/

/** --------------------------------更改部分区域样式开始------------------------------ **/
/** 部分 section 移除了内边距，内容会超出section 的圆角 **/
.fi-section {
    @apply overflow-hidden;
}

/** 页面标题 **/
.fi-header {
    @apply rounded-md bg-white p-4 shadow-sm ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10;
}
.fi-header-heading {
    @apply text-xl;
}

/** tabs 样式 **/

.fi-tabs-item.fi-active {
    @apply bg-primary-600 dark:bg-primary-700;
}
.fi-tabs-item.fi-active .fi-tabs-item-label,
.fi-tabs-item.fi-active svg {
    @apply text-white dark:text-white;
}
.fi-tabs {
    &:not(.fi-contained) {
        @apply mx-0;
    }
}
/** --------------------------------更改部分区域样式结束------------------------------ **/

/** -------------------------------- 内容圆角开始------------------------------ **/
/** 左侧菜单 按钮 圆角改小 **/
/* .fi-sidebar-item-button {
    @apply rounded-md;
} */

/** 表格圆角改小 **/
.fi-ta-ctn {
    @apply rounded-md;
}

/** section 圆角改小 **/
.fi-section {
    @apply rounded-md;
}

/** tabs 圆角改小 **/
.fi-fo-tabs {
    @apply rounded-md;
}

/** button 圆角改小 **/
.fi-btn {
    @apply rounded-md;
}

/** form 字段包装器 圆角改小 **/
.fi-input-wrp {
    @apply rounded-md;
}

/** dropdown 下拉菜单圆角改小 **/
.fi-dropdown-panel {
    @apply rounded-md;
}

/** form表单 repeater 圆角改小 **/
.fi-fo-repeater-item {
    @apply rounded-md;
}

/* form 表单 builder item 圆角 */
.fi-fo-builder-item {
    @apply rounded-md;
}

.fi-fieldset {
    @apply rounded-md;
}

/** tabs 圆角改小 **/
.fi-tabs {
    @apply rounded-md px-4;
}

/** tabs 里面的 item 圆角改小 **/
.fi-tabs-item {
    @apply rounded-md;
}

/** plugins filament-nestedset 圆角改小 **/
.fi-sn-tree-container {
    @apply rounded-md;
}

/** -------------------------------- 内容圆角结束------------------------------ **/

/** --------------------------------表格操作栏固定右侧开始------------------------------ **/

/* 表头操作列 sticky */
thead > tr > th.fi-ta-actions-header-cell {
    @apply sticky right-0 z-10 bg-gray-50 dark:bg-white/5;
}

/* 表体操作列 sticky */
.fi-ta-table > tbody > tr > .fi-ta-cell:has(.fi-ta-actions) {
    @apply sticky right-0 z-10 bg-white dark:bg-gray-900;
}

/* 表格可滚动时，操作列悬浮背景色 */
.fi-ta-table.is-scrollable > thead > tr > th.fi-ta-actions-header-cell,
.fi-ta-table.is-scrollable > tbody > tr > .fi-ta-cell:has(.fi-ta-actions) {
    @apply bg-gray-100 dark:bg-gray-800;
}
/** --------------------------------表格操作栏固定右侧结束------------------------------ **/

/** --------------------------------Dashboard 图表样式一------------------------------ **/

/* 图表统一高度 */
.fi-wi-chart-canvas-ctn {
    height: 300px !important;
    max-height: 300px !important;
}

/* overview 图表去掉内边距 */
.fi-wi-widget.fi-wi-stats-overview .fi-sc .fi-grid-col .fi-sc-component .fi-sc-section .fi-section .fi-section-content-ctn .fi-section-content {
    @apply p-[1px];
}
/** --------------------------------Dashboard 图表样式一------------------------------ **/
